<!DOCTYPE html>
<html>
<head>
    <title>{{ product.name }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'inventory/style.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'index' %}">Inventory Management System</a>
    </header>
    <div class="container">
        <nav>
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'product-list' %}">View Products</a>
            <a href="{% url 'category-list' %}">View Categories</a>
        </nav>
        <h1>{{ product.name }}</h1>
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}" width="300">
        {% endif %}
        <p>Category: {{ product.category.name }}</p>
        <p>Quantity: {{ product.quantity }}</p>
        <p>Price: {{ product.price }}</p>
        <a href="{% url 'product-list' %}" class="button">Back to Product List</a>
    </div>
</body>
</html>
